@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

:root {
    --dark-gray: #969696;
    --light-gray: #F7F7F7;
    --font-color: black;
    --font-negative: white;
    --blue: #0084FF;
    --border: 0.5px solid var(--dark-gray);
    --border-inactive: 0.5px solid var(--light-gray);
    --radius: 5px;
    --font-main: 'Work Sans', sans-serif;
    --icon-size: 15px;
}

body {
    background-color: var(--light-gray);
}

.container {
    display: grid;
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: 70px 50px auto auto;
    grid-template-areas:
        "header  header   header"
        "nav     menu     menu"
        "nav     content  ann"
        "nav     content  trend";
    align-content: start;    
}

@media only screen and (max-width: 1125px) {
    .container {
        grid-template-columns: 200px 1fr;
        grid-template-areas:
        "header  header   header"
        "nav     menu     menu"
        "nav     content  content"
        "nav     ann  trend";
    }
  }

.header {
    grid-area: header;
    display: grid;
    justify-items: center;
    gap: 30px;
    height: 70px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    border-bottom: var(--border);

}

.menu {
    grid-area: menu;
    border-bottom: var(--border);
    padding: 0 30px;
    justify-content: space-between;

}

.nav {
    grid-area: nav;
    padding: 10px;
    border-right: var(--border);
}

.content {
    grid-area: content;
    padding: 25px;
}

.ann {
    grid-area: ann;
    padding: 25px;
}

.trend {
    grid-area: trend;
    width: 100%;
}

.flex-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-justify-grid {
    justify-self: end;
}

.left-justify-grid {
    justify-self: start;
}

/* elements */
.active {
    color: var(--blue) !important;
}

.icon {
    color: var(--dark-gray);
    width: 30px;
    height: 30px;
    padding: 5px;

}

.button {
    
    border: var(--border);
    border-radius: var(--radius);
    opacity: 0.8;
}

.button:hover {
    cursor: pointer;
}

.button:active,
.nav-card:active {
    color: var(--blue);
    -webkit-box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.52);
}
h1 {
    font-weight: 300;
    font-size: 35px;
}

h2 {
    font-weight: 400;
    letter-spacing: -1px;
}
h4 {
    font-weight: 800;
    font-size: 20px;
}

h5 {
    font-size: 16px;
    padding-bottom: 7px;
}

p {
    color: var(--dark-gray);
}

/* header */
.logo {
    margin-left: 25px;
    color: var(--dark-gray);
    width: 35px;
    height: 35px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--radius);
    opacity: 0.8;
}

.search-container {
    position: relative;
    width: 100%;
}

.search {
    width: 100%;
    background-color: var(--light-gray);
    height: 35px;
    border: var(--border);
    border-radius: var(--radius);
    place-self: center stretch;
    font-size: medium;
    padding-left: 28px;
}

.search:focus {
    outline-color: var(--blue);
}

.s-icon {
    width: var(--icon-size);
    color: var(--dark-gray);
    position: absolute;
    left: 8px;
    top: 5px;

}

.avatar {
    margin-right: 25px;
    width: 40px;
    border-radius: 50%;
}

/* nav */
ul {
    list-style: none;
    color: var(--dark-gray);
    margin-bottom: 30px;
}

li {
    margin-left: -10px;
}

.nav-card {
    min-height: 45px;
    padding-left: 10px;
    border: var(--border-inactive);
    position: relative;
}

.nav-card:hover {
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
}

.nav-card:hover > li,
.default-card > li {
    color: var(--font-color);
}

.nav-card:hover > .icon,
.default-card > .icon {
    color: var(--blue);
}

.unread {
    background-color: var(--blue);
    color: var(--font-negative);
    font-size: small;
    width: 25px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 10px;
}

.nav-card:active > .unread {
    background-color: var(--font-negative);
    color: var(--blue);
    border: 0.5px solid var(--blue);
}

/* menu */
 .action-menu {
    font-size: small;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: var(--border);
    border-radius: 10px;
    padding: 2px 5px;
 }
 .action-menu:hover {
    cursor: pointer;
    background-color: var(--font-negative);
    color: var(--blue);
    border: 0.5px solid var(--blue);
 }
 .action-menu:active {
    background-color: var(--blue);
    color: var(--font-negative);
 }

 /* content */

 .cards-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-template-rows: 270px;
     grid-auto-rows: 270px;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-top: 25px;
 }

 .info-card {
     background-color: var(--font-negative);
     border-radius: var(--radius);
    width: 100%;
    padding: 20px;

    display: grid;
  
    border-left: 10px solid var(--font-negative);
    transition: border-left 0.25s;
    
    -webkit-box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.68);
 }

 .info-card:hover {
     border-left: 10px solid var(--blue);
     -webkit-box-shadow: 0px 0px 15px -9px var(--blue); 
    box-shadow: 0px 0px 15px -9px var(--blue);
 }

 .project-card {
    grid-template-rows: 30px 1fr 20px;
    height: 100%;

 }

 .action-icons {
    justify-self: end;
 }

 /* announcements + trending */

 .news-card {
     margin: 25px 0px;
     
 }

 hr {
     margin: 20px 0px;
     border-top: var(--border)
 }

 .user {
     width: 35px;
 }

 .username {
     color: var(--font-color);
 }

.user-card {
    margin: 10px 0px;
}

.user-card:hover {
    cursor: pointer;
}

 .user-card:hover .username{
     color: var(--blue);
 }
