@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

:root {
    --dark-gray: #969696;
    --light-gray: #F7F7F7;
    --font-color: black;
    --font-negative: white;
    --blue: #0084FF;
    --border: 0.5px solid var(--dark-gray);
    --border-inactive: 0.5px solid var(--light-gray);
    --radius: 5px;
    --font-main: 'Work Sans', sans-serif;
    --icon-size: 15px;
}

body {
    background-color: var(--light-gray);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr;
    grid-template-areas:
        "header  header   header"
        "nav     menu     menu"
        "nav     content  ann"
        "nav     content  trend";
}

.header {
    grid-area: header;
    display: grid;
    justify-items: center;
    gap: 30px;
    height: 70px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    border-bottom: var(--border);

}

.menu {
    grid-area: menu;
}

.nav {
    grid-area: nav;
    padding: 10px;
    border-right: var(--border);
}

.content {
    grid-area: content
}

.ann {
    grid-area: ann;
}

.trend {
    grid-area: trend;
}

.flex-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.right-justify-grid {
    justify-self: end;
}

.left-justify-grid {
    justify-self: start;
}

/* elements */
.active {
    color: var(--blue) !important;
}

.icon {
    color: var(--dark-gray);
    width: 30px;
    height: 30px;
    padding: 5px;

}

.button {
    
    border: var(--border);
    border-radius: var(--radius);
    opacity: 0.8;
}

.button:hover {
    cursor: pointer;
}

.button:active,
.nav-card:active {
    color: var(--blue);
    -webkit-box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.52);
}

h2 {
    font-weight: 400;
    letter-spacing: -1px;
}


/* header */
.logo {
    margin-left: 25px;
    color: var(--dark-gray);
    width: 35px;
    height: 35px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--radius);
    opacity: 0.8;
}

.search-container {
    position: relative;
    width: 100%;
}

.search {
    width: 100%;
    background-color: var(--light-gray);
    height: 35px;
    border: var(--border);
    border-radius: var(--radius);
    place-self: center stretch;
    font-size: medium;
    padding-left: 28px;
}

.search:focus {
    outline-color: var(--blue);
}

.s-icon {
    width: var(--icon-size);
    color: var(--dark-gray);
    position: absolute;
    left: 8px;
    top: 5px;

}

.avatar {
    margin-right: 25px;
    width: 40px;
    border-radius: 50%;
}

/* nav */
ul {
    list-style: none;
    color: var(--dark-gray);
    margin-bottom: 30px;
}

li {
    margin-left: -10px;
}

.nav-card {
    min-height: 45px;
    padding-left: 10px;
    border: var(--border-inactive);
    position: relative;
}

.nav-card:hover {
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
}

.nav-card:hover > li {
    color: var(--font-color);
}

.nav-card:hover > .icon {
    color: var(--blue);
}

.unread {
    background-color: var(--blue);
    color: var(--font-negative);
    font-size: small;
    width: 25px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 10px;
}

.nav-card:active > .unread {
    background-color: var(--font-negative);
    color: var(--blue);
    border: 0.5px solid var(--blue);
}